
main section:nth-of-type(1) {
    flex:1 1 100%;
    text-align: center;
}
main section:nth-of-type(2) {
flex: 1 1 25%;
 text-align: center;
}
main section:nth-of-type(3) {
flex: 1 1 25%;
}

form {
  max-width: 400px; 
  margin: 20px auto; 
  padding: 20px;

}


label {
  display: block; 
  margin-bottom: 5px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color:beige;
}


input[type="text"], input[type="email"], input[type="tel"],textarea {
  width: 100%; 
  padding: 8px;
  border: 1px solid beige;
  border-radius: 4px;

}

button[type="submit"], button[type="reset"]  {
font-family: "Oswald", sans-serif;
  background-color: beige;
  color: #743737;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover, button[type="reset"]:hover {
  background-color: burlywood;
}