@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Oswald:wght@200..700&display=swap');
/*  font-family: "Limelight", sans-serif;
    font-family: "Oswald", sans-serif;
*/
* {
   box-sizing: border-box;
}
body {
 display: grid;
    grid-template-columns: 2fr 5fr 5fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "nav main main"
    "nav main main"
    "nav main main"
    "footer footer footer";
    margin: 0;
background:#743737;
}
header {
    grid-area: header;
    border-bottom: solid 2px beige;
}
header h1 {
    font-family: "Limelight", sans-serif;
    color: beige;
    font-size: 3rem;
    text-decoration: underline;
    text-align: center;
}
header p {
     font-family: "Oswald", sans-serif;
     color: beige;
      text-align: center;
      font-size: 1.5rem;
}
nav {
grid-area: nav;
background-color: beige;
}
nav ul {
  list-style-type: none;
  padding: 10px;
  font-family: "Limelight", sans-serif;
}

nav ul li a {
text-decoration: none;
padding: 10px;
font-size: 1.5rem;
color: burlywood;
display: block;
border-bottom: solid 1px #743737;
}
nav a:hover{
     color: #743737;
}
main {
    display:flex;
    flex-flow: row wrap;
    grid-area: main;
}
main section {
    flex: 1 1 50%;
    padding:10px;
    border-bottom: solid 2px beige;
}
main section h2 {
     font-family: "Limelight", sans-serif;
     color: beige;
}
main section p {
    font-family: "Oswald", sans-serif;
    color:beige;
    font-size: large;
}
main section p a {
    color: beige
}
a:hover {
    color: burlywood;
}
img{
    max-width: 100%;
}
footer { 
    grid-area: footer;
    display: flex;
    flex: 1 1 25%;
    justify-content: right;
    font-family: "Oswald", sans-serif;
}
footer a {
padding-top: 20px;

}
footer p {
    font-size: 15px;
    padding:10px;
    color:beige;
}

/* Media queries*/

/*For small latops and Tablets */
@media (max-width: 800px) {
  main {
    display:block;
  }
}

/*For phone and smaller devices */
@media (max-width: 550px) {
  body {
  display: block;
  }
}